body{
    background-color:#E7F0DC ;
}
h1.tcolor{
        color:#597445 ;
        font-weight: bold;
        font-size: 60px;
}
p.pcolor{
    color:#8aab67 ;
    font-weight:500;
    font-size: 30px;
}

.btncolor{

  background-color: #3e5130;
  color: #8aab67;

}
.btncolor:hover{
    background-color: #8aab67;
    color: #3e5130;
}

.ppcolor{
    color:#233d10;
    font-size:larger ;
    font-weight: bold;
}